<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- Logo -->
    <%= link_to products_path, class: "navbar-brand" do %>
      <%= image_tag "logo_alleyapp50x50.jpg", alt: "Logo", class: "logo-img" %>
    <% end %>

    <!-- Toggle button for mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar content -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <% if current_user.artisan? %>
            <!-- Artisan Links -->
            <li class="nav-item">
              <%= link_to 'My Products', my_products_path, class: "btn btn-outline-light me-2" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Add Products', new_product_path, class: "btn btn-outline-light" %>
            </li>
            <li class="nav-item">
              <span class="nav-link text-white">Bonjour <%= current_user.first_name %> (Artisan)</span>
            </li>
          <% else %>
            <!-- Regular User -->
            <li class="nav-item">
              <span class="nav-link text-white">Bonjour <%= current_user.first_name %></span>
            </li>
          <% end %>
        <% else %>
          <!-- Guest User -->
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "btn btn-outline-light" %>
          </li>
        <% end %>
      </ul>

      <!-- Cart Button -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <% if user_signed_in? && current_user.orders.any? %>

              <%= link_to order_path(current_user.current_order.id ), class: "btn btn-outline-warning position-relative" do %>
                <i class="fa-solid fa-cart-shopping"></i>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                <%= current_user.orders.count if user_signed_in? %>
              </span>
        <% end %>
          <% end %>

        </li>
      </ul>

      <% if user_signed_in? %>
        <!-- User Dropdown -->
        <div class="dropdown ms-3">
          <a href="#" class="avatar" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <%=
            (current_user.artisan? ?
            '<img width="50" height="50" src="https://img.icons8.com/scribby/50/work.png" alt="work"/>' :
            '<img width="48" height="48" src="https://img.icons8.com/color/48/user.png" alt="user"/>').html_safe
          %>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><%= link_to "My Profile", my_profile_path, class: "dropdown-item" %></li>
            <% if current_user.artisan? %>
              <li><%= link_to "Map my Products", "#", class: "dropdown-item" %></li>
            <% end %>
            <li><%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item text-danger" %></li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</nav>
