<h1>Edit <%= @product.id %></h1>
<%= simple_form_for @product do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :adress %>
  <%= f.input :stock_quantity %>
  <%= f.input :price %>
  <%= f.submit "Edit" %>
<% end %>
