  <div class="container w-50">
    <%#  à faire une fois le User done <li>Selling by <%= @product.user.name %>
    <h1><%= @product.name %></h1>
    <div class="card-trip m-3">
          <%= cl_image_tag @product.photo.key.to_s, height: 500, width: 500, crop: :fill %>
          <div class="card-trip-infos">
            <div>
              <h2><%= @product.name %></h2>
              <p>in stock: <%= @product.stock_quantity %></p>
            </div>
            <h2 class="card-trip-pricing"><%= @product.price%>$</h2>
          </div>
      </div>
      <% if user_signed_in? %>
        <% if current_user.artisan? %>
          <%=link_to"Edit A Product", edit_product_path, class: "btn btn-outline-primary"%>
          <%= link_to "Delete", product_path(@product), class: "btn btn-outline-danger",
                  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        <% end %>
      <% end %>
  </div>
