<h1><%= @product.name %></h1>
  <ul>
    <%#  à faire une fois le User done <li>Selling by <%= @product.user.name %>
    <li>Description: <%= @product.description %></li>
    <li>Adress: <%= @product.adress%></li>
    <li>In stock:<%= @product.stock_quantity%></li>

    <li>Price: <%= @product.price%>$</li>

  </ul>
<%= cl_image_tag @product.photo.key, height: 300, width: 400, crop: :fill %>
<%= link_to "Back to Products", products_path %>
<% if current_user.artisan? %>
<%= link_to "Edit", edit_product_path %>
<%= link_to "Delete", product_path(@product), class: "btn btn-outline-danger",
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<% end %>
